{{> header}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/bookmarks/{{this._id}}"><img src="{{link.link}} " alt=""  class="img-thumbnail mt-5"></a>
            <p class="small p-1">Link: {{link.link}}</p>
            <p class="small p-1">Description: {{link.Description}}</p>

            <form action="/bookmarks/{{link._id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger mt-1 btn-block">Delete</button>
            </form>
        </div>

    </div>
</div>