{{> header}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/contacts/{{this._id}}"><img src="{{name.name}} " alt=""  class="img-thumbnail mt-5"></a>
            <p class="small p-1">Name: {{name.name}}</p>
            <p class="small p-1">Telephone: {{name.telephone}}</p>

            <form action="/contacts/{{name._id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger mt-1 btn-block">Delete</button>
            </form>
        </div>

    </div>
</div>